@tailwind base;
@tailwind components;
@tailwind utilities;


a {
    @apply flex items-center space-x-2 text-text-grey dark:text-text-grey hover:text-primary hover:underline dark:hover:text-text-grey transition-colors underline-offset-4;
}

:root { /* css'te variable olarak renk tanımladık */
    --primary-bg: #4832D3;
    --secondary-bg: #CBF271;
    --text-primary: #CBF271;
    --text-light: #ffffff;
    --text-grey: #6B7280;
    --light-bg: #ffffff;
    --dark-bg: #1F2937;
    --light-grey-bg: #f1f1f1;
}


.dark {
    --primary-bg: #171043;
    --secondary-bg: #2c2651;
    --text-primary: #CBF271;
    --text-light: #d9d9d9;
    --text-grey: #A3A9B4;
    --light-bg: #1F2937;
    --dark-bg: #ffffff;
    --light-grey-bg: #9c9c9c;
}




    